<h1>Product</h1>
<br>
<strong>Name:</strong> <%= @product.name %>
<br>
<strong>description:</strong> <%= @product.description %>,
<br> 
<strong>price :</strong> <%= @product.price%> 
<br> 
<strong>photo :</strong> <%= @product.photo%> 
